#otstup {
    height: 50vw;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: myfont;
    src: url('../fonts/GardensC.otf');
}

body {
    background-color: rgba(148, 188, 226, 0.692);
    width: 80vw;
    margin: 0 auto;
    font-family: myfont;
}

/* Основные общие настройки */
.blok {
    margin: 1vw auto;
}

button {
    font-family: myfont;
}

/* 1. Шапка, содержащая логотип, телефон компании и кнопку для заказа звонка;  */
#header {
    position: relative;
    background-image: url('../image/first-page-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    height: 50vw;
}

#header>* {
    display: block;
    position: absolute;
}

.logo {
    width: 25vw;
}

#header>div {
    margin: 2vw auto auto 54vw;
}

.icon {
    width: 2vw;
}

h1 {
    font-size: 16vw;
    margin: 11vw auto auto 19vw;
    font-family: Arial, Helvetica, sans-serif;
}

/* 2. Блок со слайдером, содержащим преимущества компании;  */

#slider {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#slider>* {
    margin: auto;
}

.sliderimg {
    width: 15vw;
}

/* 3. Блок, содержащий особенности гироскутеров, электросамокотов и сигвеев;  */
#info {
    color: #324074;
    font-size: 1.5vw;
    text-align: justify;
}

/* 4. Блок со списком товаров: фото, название, цена, вид;  */
#spisok>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#spisok>div>* {
    align-items: center;
}

#spisok>div>article>img {
    height: 20vw;
    margin: 0 auto;
    box-shadow: 0 0 2vw #324074;
}

h2 {
    font-size: 1.6vw;
}

/* 5. Фильтр по виду: Всё, Гироскутеры, Электросамокаты, Сигвеи;  */
#filtr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#filtr>* {
    height: 3vw;
    margin: 1vw;
    font-size: 1.5vw;
    color: white;
    background-color: #324074;
}

/* 6. Блок, содержащий информацию о консультантах;  */
#consult {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#consult>article>img {
    height: 15vw;
}

/* 7. Блок, содержащий бренды, представленные в магазине;  */
#brend {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#brend>* {
    font-size: 1.5vw;
    color: #324074;
}

/* 8. Блок, содержащий полезную информацию: фото и текст к нему;  */
#photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#photo>* {
    margin: 1vw auto;
}

#photo>article>img {
    height: 15vw;
    box-shadow: 0 0 2vw #324074;
}

/* 9. Блок, содержащий краткую информацию о компании и форму для подписки на email-рассылки. Поля формы: имя, адрес эл. почты, кнопка «подписаться».  */
#form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #324074;
    text-align: justify;
}

#form>form {
    display: grid;
}

form>* {
    font-family: myfont;
    margin: 1vw;
    box-shadow: 0 0 2vw #324074;
}

/* 10. Кнопка, позволяющая вернуться наверх.  */
#home {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0.5;

}

#home:hover {
    opacity: 1;
}

@media screen and (prefers-reduced-motion: no-preference) {

    html,
    body {
        scroll-behavior: smooth;
    }
}